section button{
    margin: 5px;
    height:80px;
    width:80px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}
section button:hover{
    height: 83px;
    width: 83px;
    background-color: rgb(225, 199, 199);
}
article{
    padding: 20px;
    background-color: aqua;
    width: 420px;
    margin: 40px auto;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
input{
    background-color: black;
    height: 4rem;
    width: 380px;
    border-radius: 12px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}